.button{
    width: 224px;
height: 42px;
left: 609px;
top: 622px;

/* Blue */

background: #0077FF;
border-radius: 50px;
color: #ffff;
display: flex;
justify-content: center;
align-items: center;
}

.buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 10px;
}
