

.text{
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
/* or 164% */

text-align: center;

/* Secondary text */

color: #C4C5C5;
}


.cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:  5rem;
}


.loginStyle{
    font-weight: 400;
font-size: 16px;
line-height: 22px;

/* Blue */

color: #0077FF;
}
